body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Arial, sans-serif;
}

a {
  text-decoration: none !important;
}

button,a,.card {
  transition: 0.2s ease-in-out;
}

.navbar-brand {
  font-size: 1.4rem;
}

.nav-link {
  font-size: 0.95rem;
}

.nav-link:hover {
  color: #ffc107 !important;
}

footer {
  font-size: 0.9rem;
}

.card {
  border: none;
  border-radius: 12px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 220px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.card-body h5 {
  font-weight: 600;
}

.product-image-main {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.btn-primary,
.btn-danger,
.btn-success,
.btn-dark,
.btn-warning {
  border-radius: 8px;
  font-weight: 500;
}

.btn-outline-danger:hover {
  background-color: #dc3545;
  color: white;
}

.btn:hover {
  transform: scale(1.03);
}

.form-control,
.form-select,
textarea {
  border-radius: 8px !important;
}

table {
  border-radius: 10px;
  overflow: hidden;
}

.table th {
  font-weight: 600;
}

.wishlist-card img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.wishlist-card:hover {
  transform: translateY(-4px);
}

.admin-card {
  border-radius: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

@media (max-width: 768px) {
  .card-img-top {
    height: 180px;
  }

  .product-image-main {
    height: 250px;
  }
}
